aiohappyeyeballs==2.6.2
aiohttp==3.13.5
aiosignal==1.4.0
attrs==26.1.0
cachetools==7.1.4
click==8.4.1
cloudpickle==3.1.2
cuda-bindings==13.2.0
cuda-core==0.7.0
cuda-pathfinder==1.5.5
cuda-python==13.2.0
cuda-toolkit==13.3.0
cudf-cu13==26.4.0
cugraph-cu13==26.4.0
cupy-cuda13x==14.1.0
dask==2026.1.1
dask-cuda==26.4.0
dask-cudf-cu13==26.4.0
distributed==2026.1.1
distributed-ucxx-cu13==0.49.0
frozenlist==1.8.0
fsspec==2026.4.0
idna==3.17
igraph==1.0.0
importlib_metadata==9.0.0
Jinja2==3.1.6
libcudf-cu13==26.4.0
libcugraph-cu13==26.4.0
libkvikio-cu13==26.4.0
libraft-cu13==26.4.0
librmm-cu13==26.4.0
libucx-cu13==1.19.0
libucxx-cu13==0.49.0
llvmlite==0.46.0
locket==1.0.0
markdown-it-py==4.2.0
MarkupSafe==3.0.3
mdurl==0.1.2
msgpack==1.1.2
multidict==6.7.1
networkx==3.6.1
numba==0.64.0
numba-cuda==0.28.2
numpy==2.4.6
nvidia-cublas==13.5.1.27
nvidia-cuda-cccl==13.3.3.3.1
nvidia-cuda-crt==13.3.33
nvidia-cuda-nvcc==13.3.33
nvidia-cuda-nvrtc==13.3.33
nvidia-cuda-runtime==13.3.29
nvidia-curand==10.4.3.29
nvidia-cusolver==12.2.2.18
nvidia-cusparse==12.8.1.7
nvidia-libnvcomp-cu13==5.1.0.21
nvidia-ml-py==13.595.45
nvidia-nccl-cu13==2.30.4
nvidia-nvjitlink==13.3.33
nvidia-nvvm==13.3.33
nvtx==0.2.15
packaging==26.2
pandas==2.3.3
partd==1.4.2
polars==1.41.1
polars-runtime-32==1.41.1
propcache==0.5.2
psutil==7.2.2
py-vptree==1.0.0
pyarrow==24.0.0
Pygments==2.20.0
pylibcudf-cu13==26.4.0
pylibcugraph-cu13==26.4.0
pylibraft-cu13==26.4.0
python-dateutil==2.9.0.post0
python-tlsh==4.5.0
pytz==2026.2
PyYAML==6.0.3
raft-dask-cu13==26.4.0
rapids-dask-dependency==26.4.0
rapids-logger==0.2.3
rich==15.0.0
rmm-cu13==26.4.0
scipy==1.17.1
six==1.17.0
sortedcontainers==2.4.0
tblib==3.2.2
texttable==1.7.0
toolz==1.1.0
tornado==6.5.6
tqdm==4.67.3
typing_extensions==4.15.0
tzdata==2026.2
ucxx-cu13==0.49.0
urllib3==2.7.0
yarl==1.24.2
zict==3.0.0
zipp==4.1.0
